<!DOCTYPE html>
<html lang="en">

<head>
  <title>Raspberry pi | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/loader.css">
  <link rel="stylesheet" href="../static/css/css-style.css">

  
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>

</head>

<body>
  
  <div class="wrapper align-items-stretch">
   <div id="content" class="container" style="max-width: 100% !important;">
      <div class="row" id="right_sec" style="margin-right:0px;margin-left: 0px;">
      <ul class="col-md-4 company-details">      
      <li><img class="logo" width="170px" src="https://plumbingpatrol.com/public/assets/images/logo.png" alt="logo"></li>
      <li><h3>Plumbing Patrol</h3></li>  
      <!-- <li class="distance_sec"><p>Distance: 15 Ft. <br>Depth: 20 Ft. </p></li>   -->        
    </ul>
    <div class="col-md-8 pull-right">
    <ul class="right_cont">     
       <!--  <li class="home_ico"><a href="#"><i class="fa fa-home"></i></a></li> -->
       <li class="home_ico"><a href="#"><img width="36px" src="images/satellite.svg"></a></li>
       <li class="" style="margin-right: 25px;"><p><span>Lat:</span> 22.714191284059304<br><span>Long:</span> 75.87191125166424</p></li>
        <li class="home_ico"><a href="#" data-toggle="modal" data-target="#USBModal"><img width="25px" src="images/pendrive.svg"></a></li>
        <li class="device_connect"><a href="#" data-toggle="modal" data-target="#DeviceModal"><img width="35px" src="images/device.svg"></a></li>
        <li class="mobwifi"><a href="#" data-toggle="modal" data-target="#WiFiModal"><img src="images/mob-wifi.svg"></a></li>
        <li class="bluetooth"><a href="#" data-toggle="modal" data-target="#BluetoothModal"><i class="fa fa-bluetooth-b"></i></a></li>
        <!-- <li class="home_ico"><a href="#"><img width="36px" src="images/satellite.svg"></a></li> -->
        <li class="battery"><p><i class="fa fa-battery-half"></i> <br><span style="font-size: 15px;position: relative;top: -6px;">43%</span></p></li>        
        <li class="dt-sec"><span>31-03-22<br>11:25:35</span></li>        
        <li><p class="p-by"><!-- <span>Powered by</span> -->Snake Eye</p></li>
      </ul>
    </div>
    </div>
 </div>

</body>

</html>