[Unit]
Description=SnakeEye Web Server
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/opt/snakeeye/www
ExecStart=/usr/bin/python3 -m http.server 8000
Restart=always

[Install]
WantedBy=multi-user.target
